.window {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f7e9fe 0%, #cbbbe5 100%);
  box-shadow: 0px 4.53px 9.81px 0px #9a02af40;
  height: 600px;
  width: 600px;
  border-radius: 165px;

  .windowCircle {
    width: 298px;
    height: 448px;
    border: 3px solid white;
    border-radius: 138px;
    background: linear-gradient(180deg, #f1e9fc 0%, #dac0eb 100%);
    box-shadow: 0px -7.55px 30.18px 0px #fcf9ff;
    padding: 30px;
    position: relative;

    .windowInner {
      background: linear-gradient(180deg, #c2a8d6 0%, #e3dfee 100%);
      border: 20px solid #a68eb7;
      padding: 20px;
      height: 100%;
      width: 100%;
      border-radius: 116.4px;
      background-image: url('/images/telco-plans/flag-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // position: absolute;
      // z-index: -11;
      // top: 0;
      // left: 0;
    }
  }
}
