.about-us-player {
  box-shadow:
    inset -10.5586px 0px 10.5586px rgba(213, 200, 221, 0.25),
    inset 10.5586px 0px 10.5586px rgba(214, 200, 221, 0.25),
    inset 0px -10.5586px 10.5586px rgba(214, 200, 221, 0.25),
    inset 0px 10.5586px 10.5586px rgba(214, 200, 221, 0.25);
  border-radius: 24px;

  .video-react-video {
    box-shadow:
      inset -10.5586px 0px 10.5586px rgba(213, 200, 221, 0.25),
      inset 10.5586px 0px 10.5586px rgba(214, 200, 221, 0.25),
      inset 0px -10.5586px 10.5586px rgba(214, 200, 221, 0.25),
      inset 0px 10.5586px 10.5586px rgba(214, 200, 221, 0.25);
    border-radius: 24px;
  }

  .video-react-button {
    display: block;
    padding: 30.2951px 30px 30.2951px 35px;
    background: rgba(242, 242, 247, 0.4);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 96.0859px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 80px;
    width: 80px;
    top: 40% !important;

    &::before {
      top: 15px;
    }
  }

  .video-react-control-bar {
    display: none;
  }
}

.select-custom {
  svg {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
  }
}

// .main {
//   overflow-x: hidden;
// }
// .horizontal-sliders {
//   // display: flex;
//   flex-wrap: no-wrap;
//   width: 500vw;
//   overflow-x: hidden;
// }
// .slide {
//   height: 100vh;
//   width: 100%;
// }
// .slide:nth-child(2n) {
//   background-color: aqua;
// }
// .next-block {
//   height: 100vh;
//   background: blue;
// }
