.progressbar {
  width: 5px;
  height: 50vh;
  background-color: blue;
}

.progress-wrapper {
  width: 5%;
}

.progressbar {
  position: absolute;
  width: 1px;
  height: 50%;
  background-color: #303233;
}
.progressbar.join-ryze {
  width: 3px;
  height: 0;
  top: 25%;
}
.progress-star {
  position: absolute;
  top: 25%;
  height: 15px;
  display: flex;
  align-items: flex-end;
}

#onboarding {
  .card-1 {
    z-index: 3;
  }
  .card-2 {
    z-index: 2;
    opacity: 0;
  }
  .card-3 {
    z-index: 1;
    opacity: 0;
  }
}
